.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;

  .title {
    margin: 0;
    font-size: 38px;
    font-weight: 600;
    color: var(--sub-text-color);
  }

  .viewAllProjects {
    position: relative;

    font-size: 18px;
    font-weight: 700;
    color: var(--primary-color);

    &:focus {
      outline: thin dotted var(--primary-color);
    }
  }
}
