.root {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(1fr);
  column-gap: 10px;
}

.greetingContainer {
  width: 100%;
  margin-bottom: 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 780px) {
  .root {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .greetingContainer {
    width: fit-content;
    margin-top: 25px;
  }
}
