.root {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 10px;
  row-gap: 10px;

  border-radius: 10px;
  overflow: hidden;

  margin: 20px 0px;

  box-shadow: var(--box-shadow-2);

  transition: box-shadow var(--transition-time);

  &:hover {
    box-shadow: var(--box-shadow-4);
  }
}

.title {
  margin: 0;
  font-size: 28px;
  font-weight: 600;
  color: var(--text-color);
  padding-top: 20px;
  padding-left: 20px;
}

.description {
  margin: 0;
  font-size: 16px;
  color: var(--text-color);
  padding-left: 20px;
}

.techs {
  padding: 20px;

  .techImage {
    width: 40px;
    height: 100%;
  }
}

.projectImage {
  width: 100%;
  height: auto;
}

@media (min-width: 780px) {
  .root {
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: min-content 1fr min-content;
  }

  .projectImage {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  }
}
