.nav {
  width: 100%;

  ul {
    min-height: 60px;
    width: 100%;
    margin: 0;
    padding: 0;

    list-style-type: none;

    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
