.root {
  position: relative;

  padding: 10px 2px;
  margin: 0px 10px;

  cursor: pointer;

  color: var(--text-color);
  font-size: 16px;
  font-weight: 600;

  opacity: var(--semi-opacity);

  transition: opacity var(--transition-time);

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    transform: translateX(-50%);
    height: 2px;
    border-radius: 1px;
    background-color: var(--text-color);

    transition: width var(--transition-time);
  }

  &:hover,
  &:active,
  &:focus {
    opacity: var(--full-opacity);
  }

  &:focus {
    outline: thin dotted var(--primary-color);
  }

  &:hover::after,
  &:active::after,
  &:focus::after {
    width: 100%;
    opacity: var(--full-opacity);
  }
}

.active {
  &::after {
    width: 50%;
  }
}
