.root {
  margin-top: 25px;
  animation-delay: 0.5s;

  display: flex;
  align-items: center;
  justify-content: space-around;

  & > *:not(:last-child) {
    margin-right: 20px;
  }
}

.anchor {
  width: fit-content;

  margin: 5px;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  color: var(--primary-color);

  display: flex;
  align-items: center;

  border: var(--primary-color) solid 2px;
  border-radius: 5px;

  transition: color var(--transition-time),
    background-color var(--transition-time);

  & > *:not(:last-child) {
    margin-right: 5px;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: var(--primary-color);
    color: var(--primary-color-contrast);
  }

  &:focus {
    outline: thin dotted var(--primary-color);
  }
}
