.root {
  width: 100%;
  padding: 0px 10px;

  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.content {
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 1080px) {
  .content {
    max-width: 1080px;
  }
}
